
h1{
    color: #565656;
    text-align: center;
    font:bold 36pt garamond;
}
body{
    background: #d7cec7;
}

section{
    background: #76323f;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    width: 75%;
    margin: auto;
    height: 500px;
    box-shadow: 5px 5px 10px rgb(43, 4, 15);
    color: #d7cec7;
    font: normal 26pt garamond;
}

button{
    font: normal 36pt garamond;
    cursor: pointer;
    width: 75%;
    border-radius: 10px;
    height: 200px;
    background: #a027a0;
    color: #fff;
    margin: 2em 0em;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 3px rgb(77, 1, 77);
}



footer{
    color: #565656;
    text-align: center;
    font-style: italic;
}